<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Roster</title>
<div th:replace="fragments/bootstrap_css.html"></div>
</head>
<body>
<div th:style="'background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(https://www.mlbstatic.com/team-logos/'+${teamId}+'.svg)'">
<nav th:include="fragments/menu"></nav>
	<h1>Roster</h1>
	<table class="table table-striped" id="rosterTable">
		<thead class="table-dark">
			<tr>
				<th></th>
				<th>NAME</th>
				<th class="text-center">JERSEY NUMBER</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="player : ${rosterList}" class="align-middle">
				<td width="100px">
					<img th:src="@{https://content.mlb.com/images/headshots/current/60x60/{id}.png(id=${player.person.id})}">
				</td>
				<td>
					<a th:text="${player.person.fullName}" th:href="@{/player/{id}(id=${player.person.id})}"></a>
				</td>
				<td class="text-center">
					<span th:text="${player.jerseyNumber}"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div th:replace="fragments/bootstrap_js.html"></div>
<div th:replace="fragments/datatables_js.html"></div>
	<script>
	// Calling my script located in src/main/resources/static/customize_table.js
	// The method receives the following parameters as input: the table id, the unsortable columns and the unsearchable columns
	customize(rosterTable, [0], [0]);
	</script>
</body>
</html>